doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Welcome Pack
    link(rel='stylesheet', href='css/styles.css')
  body
    section.section.section--home
      h2!= DATA.home[0].title
      p!= DATA.home[0].description
    section.section.section--mango
      h2!= DATA.home[1].title
      p
        a(href='pages/mango.html')!= DATA.home[1].description
    section.section.section--team
      h2!= DATA.home[2].title
      p
        a(href='pages/team.html')!= DATA.home[2].description
    section.section.section--employee
      h2!= DATA.home[3].title
      p
        a(href='pages/employee.html')!= DATA.home[3].description
    main
      #content
      #back
        button.btn-back Back
    script(src='js/vendor/jquery-3.3.1.min.js')
    script(src='js/vendor/jquery.scrollify.js')
    script(src='js/index.js')
